/*Generici*/


body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeded;
    position: relative;
    margin-top: 150px;
}


/*header style*/

.bg-logo{
    width: 100%;
    height: 75px;
    background-color:#222f3e;
    }

    .bg-logo img{
        width: 140px;
        height: auto;
        margin-left: 20px;
        margin-top: 10px;
    }

.shadow {
    -webkit-box-shadow: inset 0px 48px 63px 0px rgba(255,255,255,0.06); 
    box-shadow: inset 0px 48px 63px 0px rgba(255,255,255,0.06);
}



/* ESERCIZIO D6B */

header{
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

}

/*menu header style*/

.menu {
    width: 100%;
    height: 40px;
    background-color: #354758;
}

.menu ul{
    margin: 0px;
}

.menu li{
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.menu li a::before{
    color:white;
}

.menu li a:visited{
    color:white;
}

/*stile corpo: prima sezione*/

.corpo{
    width: 95%;
    height: 335px;
    margin: 0 auto;
    margin-top: 45px;
}

.corpo p{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #f2771f;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px; 
}

#bgSez1{
    background-image: url(../img/bg-image.png);
    width: 100%;
    height: 250px;
    background-size: 100% auto;

}

h1{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 80px;
}

#sottotitolo{
    background: transparent;
    font-size: 20px;
    font-weight: 400;
}


/*stile corpo seconda sezione*/

.corpoDue{
    width: 95%;
    height: 610px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: white;
    position:relative;
}

.corpoDue p{
    font-size: 25px;
    font-weight: 200;
    padding-left: 30px;
    padding-top: 25px;
}

.corpoDue a{
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    text-decoration: none;
    color: #017185;

}

.corpoDue ul{
    list-style-type: none;
    padding-left: 30px;
}


.grassetto{
    color: #017185;
    font-size: 18px;
}

        /*immagini*/

.main-container{
    width: 100%;
    position: absolute;
    left: 28px;
}

/* ESERCIZIO D6B */

.card{
    width: 380px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.card img{
    height: 100%;
    width: auto;
    transform:translateX(-100px);
}


.icone{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.save{
   
    position: absolute;
    width: 40px;
    height: 40px;
    right: 25px;
}

.buy{
    position: absolute;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color:#017185;
    color: white;
    bottom: 0;
    top: auto;
    left: 40px;
    right: 0;
    
}

p.buy{
    text-align: center;
    line-height: 45px;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.cart{
    position: absolute;
    left: 85px;
    bottom: 14px;
}

.card:hover .icone{
    opacity: 1;
    transform: .2s;
}

.icone:hover .buy{
    transform: translateY(-20px);
    transition: .2s;
    transition-timing-function: ease-out;
    }
    
.icone:hover .save{
    transform: translateY(20px);
    transition: .2s;
    transition-timing-function: ease-out;
    }


/*stile corpo terza sezione*/

#game{
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-top: 45px;
    background-image: url(../img/img_9.png);
    background-size: cover;
    background-position: center top;
}

figcaption{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    padding-top: 5px;
}

#music{
        width: 95%;
        height: 500px;
        margin: 0 auto;
        margin-top: 40px;
        background-image: url(../img/img_10.png);
        background-size: cover;
        background-position: center top;
    }
    
.shop{
        font-size: 25px;
        font-weight: 200;
        text-align: center;
        padding-top: 5px;
    }

span{
        color:#017185;
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
    }

/*footer*/


.bTop{
    width: 100%;
    height: 60px;
    background-color: #354758;
    margin-top: 45px;
    text-align: center;
    padding-top: 1px;
    position: relative;
}

.bTop a{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 35%;
    left:48%;
}

.bottomLogo{
    width: 100%;
    height: 200px;
    background-color:#222f3e;
    position: relative;
    }

.bottomLogo img{
    width: 200px;
    height: auto;
    position: absolute;
    left: 45%;
    top: 35%;
}

/* NUOVA SEZIONE ESERCIZIO D4 */

.containerQuattro {
    width: 95%;
    height: 520px;
    margin: 0 auto;
    margin-top: 45px;
}


.insideContainer{
    width: 410px;
    height: 520px;
    background-color: white;
    margin:0 auto;
    margin-right: 16.2px;
    display: inline-block;
}


#lastinsideContainer{
    width: 410px;
    height: 520px;
    background-color: white;
    margin:0 auto;
    display: inline-block;
}

#lastinsideContainer a{
    text-decoration: none;
    color: #017185;
    display: inline-block;
    margin-top: 30px;
}


.boxTitle{
    padding-left: 35px;
    padding-top: 0x;
}


.insideContainer a{
    display: inline-block;
    margin-top: 30px;
    color:#017185;
    text-decoration: none;
}

.smallContainer{
    width: 350px;
    height: 370px;
    margin:0 auto;
}

figure{
    width:150px;
    height: 180px;
    margin: 0;
    display: inline-block;
    margin-right: 25px;
    margin-left: 7px;
    margin-bottom: 9px;
}

.smallContainer figure:nth-child(even){
    margin-right: 0px;
}

figcaption{
    font-size: 16px;
    text-align: left;
}

/* primo blocco di immagini */

#headphones{
    background-image: url(../img/img_15.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#keyboard{
    background-image: url(../img/img_16.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#mouse{
    background-image: url(../img/img_17.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#chair{
    background-image: url(../img/img_18.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

/* secondo blocco di immagini */

#sweatshirt{
    background-image: url(../img/img_19.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#jogger{
    background-image: url(../img/img_20.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#cardigans{
    background-image: url(/img/img_21.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#easy{
    background-image: url(../img/img_22.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;;
}


/* terzo blocco di immagini */


#electronic{
    background-image: url(../img/img_11.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#fashion{
    background-image: url(../img/img_12.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#toys{
    background-image: url(../img/img_13.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#beauty{
    background-image: url(../img/img_14.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}


/* quarto blocco di immagini */


#toyLi{
    background-image: url(../img/img_24.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#elGift{
    background-image: url(../img/img_25.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#homeGift{
    background-image: url(../img/img_26.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}

#fashionGift{
    background-image: url(../img/img_27.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}
